<li data-points="<%= feature.effort %>" class="item commited">
  <div class="points"><u><%= feature.effort %></u></div>

  #<%= feature.id %> <b><u><%= feature.description %></u></b>
  <%= render :partial => 'tasks', :object => feature.tasks, :locals => {:feature => feature} %>
</li>