<!DOCTYPE html>
<html>
<head>
  <title>Yougu</title>
  <%= stylesheet_link_tag 'common' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(:current) %> |
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>